/* reset css by eric meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/*blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mon css*/

body {

	background-image: url("media/grille.png");
	font-family: "Opens Sans Condensed", sans-serif;
}

#partie_un
{
	color: rgb(150,150,150);
	width: 940px;
	margin: auto;
	min-height: 180px;
}

h1
{
	padding-top: 40px;
}

#menu
{
	float: right;
	width: 720px;
	min-height: 100px;
	margin-top: -100px;
}

#menu div
{
	float: left;
	padding-left: 30px;
}

#menu a
{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.99em;
	color: rgb(150,150,150);
}

#menu .title_menu
{
	border-bottom: 5px solid;
	list-style: none;
	padding-bottom: 10px;
}

 #menu .hotel .title_menu
 {
 	border-color: rgb(247,105,0);
 	font-size: 1em;
 }

#menu .hotel .title_menu+li
{
	padding-top: 10px;
}

#menu .hotel li
{
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

 #menu .restaurants .title_menu
 {
 	border-color: rgb(252,208,74);
 	font-size: 1em;
 }

#menu .restaurants .title_menu+li
{
	padding-top: 10px;
}

#menu .restaurants li
{
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

 #menu .services .title_menu
 {
 	border-color: rgb(185,212,130);
 	font-size: 1em;
 }

#menu .services .title_menu+li
{
	padding-top: 10px;
}

#menu .services li
{
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

 #menu .activites .title_menu
 {
 	border-color: rgb(61,146,194);
 	font-size: 1em;
 }

#menu .activites .title_menu+li
{
	padding-top: 10px;
}

#menu .activites li
{
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

 #menu .plus .title_menu
 {
 	border-color: rgb(192,120,208);
 	font-size: 1em;
 }

#menu .plus .title_menu+li
{
	padding-top: 10px;
}

#menu .plus li
{
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

.espace
{
	background-color: white;
	width: 100%;
	height: 10px;
}

.youtube
{
	background-color: white;
	border-top: 1px solid rgb(225,225,225);
	border-bottom: 1px solid rgb(225,225,225);
}

object
{
	padding-top: 30px;
	padding-bottom: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 390px;
}

.slogan
{
	margin-top: 10px;
	min-height: 85px;
	border-bottom: 1px solid rgb(225,225,225);
}

.slogan p
{
	text-align: center;
	font-size: 1em;
	font-style: italic;
	color: rgb(150,150,150);
	padding-top: 30px;
}

.slogan .espace
{
	background-color: white;
	margin-top: 30px;
}

#partie_deux
{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 130px;
	border-bottom: 1px solid rgb(225,225,225);
}

#article
{
	width: 940px;
	margin: auto;
}

#partie_deux h2
{
	font-size: 1.5em;
	color: rgb(247,105,0);
	text-transform: uppercase;
}

#partie_deux span
{
	font-size: 0.8em;
	color: rgb(200,200,200);
	font-style: italic;
}

#partie_deux p
{
	color: rgb(200,200,200);
	font-size: 0.7em;
	width: 180px;
}

#partie_deux a
{
	text-decoration: none;
	font-style: italic;
	color: rgb(200,200,200);
}

.golf
{
	border: 1px solid rgb(200,200,200);
	width: 220px;
	padding-left: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.accrobranche
{
	float: right;
	margin-top: -265px;
	margin-right: 485px;
} 

.fast_foods
{
	float: right;
	margin-top: -115px;
	margin-right: 510px;
}

.comment
{
	float: right;
	margin-top: -265px;
	margin-right: 270px;
}

.images
{
	float: right;
	margin-top: -140px;
	margin-left: 465px;
}

.images img
{
	border: 1px solid rgb(200,200,200);
	padding: 10px;
	margin: 5px;
}

#partie_trois
{
	min-height: 220px;
	width: 940px;
	margin: auto;
}

#partie_trois h3
{
	font-size: 1.1em;
	color: rgb(150,150,150);
	padding-bottom: 20px;
	text-transform: uppercase;
}

#partie_trois p .date
{
	font-size: 0.8em;
	font-style: italic;
	color: rgb(200,200,200);
}

#partie_trois p span
{
	font-weight: bold;
	color: black;
	font-size: 0.8em;
}

.contact
{
	margin: auto;
	padding-top: 30px;
	margin-left: 0px;
	max-width: 185px;
}

.contact p
{
	font-size: 1em;
	padding-left: 20px;
	color: rgb(175,175,175);
	padding-bottom: 10px;
}

.contact a
{
	color: rgb(175,175,175);
}

.adresse
{
	background-image: url("media/accueil_icone.png");
	background-repeat: no-repeat;
}

.tel
{
	background-image: url("media/telephone_icone.png");
	background-repeat: no-repeat;
}

.email
{
	background-image: url("media/mail_icone.png");
	background-repeat: no-repeat;
}

.support
{
	background-image: url("media/aide_icone.png");
	background-repeat: no-repeat;
}

.billet
{
	float: right;
	margin-right: 505px;
	margin-top: -165px;
	max-width: 200px;
}

.billet a
{
	text-transform: none;
	color: rgb(200,200,200);
	font-style: italic;
}

.dernier_com
{
	float: right;
	margin-right: 215px;
	margin-top: -165px;
	max-width: 240px;
}

.blabla
{
	float: right;
	margin-top: -165px;
	max-width: 190px;
}

#footer
{
	border-top: 1px solid rgb(225,225,225);
	min-height: 90px;
	background-color: white;
}

#footer #contenu
{
	width: 940px;
	margin: auto;
}

#footer .lien
{
	padding-top: 25px;
	width: 940px;
	margin: auto;
	color: rgb(150,150,150);
}

.lien a
{
	padding-right: 10px;
	text-decoration: none;
	color: rgb(150,150,150);
}

#footer .vignette
{
	float: right;
}